HTML {font-family: Arial, Helvetica, Sans-serif}

body {background-color: #8181F7}

h1 {background-color: #4C0B5F;
    font-family: Georgia, "Times New Roman", Serif;
    font-size: 2rem; /* 1 rem is equal to 3 pixels */
    font-weight: normal;
    color: #FFF}

li {font-size: 1.25rem;
    line-height: 1.5rem}

hr {border: solid 1px #F5DA81}

ul{background-color: #F3E2A9}

li {font-size: 1.5rem;
    color: #4C0B5F}
li p {font-size: 1rem}

h2 {background-color: #4C0B5F;
    color: white}

a {color: #9A2EFE}
